{% extends "layout.html" %}

{% block body %}

<table>
    <thead>
        <tr>
            <th>글번호
            <th>제목
            <th>글쓴이
        </tr>
    </thead>
    <tbody>
{% for i in article_list %}
        <tr>
            <td>{{ number_list }}</td>
            <td><a href="/article/{{ i.id }}">{{ i.title }}</a></td>
            <td>{{ i.nick_name }}</td>
            {% set number_list = number_list -1 %}
        </tr>
{% endfor %}
    </tbody>
</table>

<p><a href="{{ url_for ('board_write', board_name = board.board_name) }}">write</a></p> 

{% endblock %}
