{%- extends "layout.html" %}
{%- block body %}
{%- if last_article %}
    <h3>최신글</h3>
    <ul>
    {%- for article in last_article %}
        <li>{{ article.title }}</li>
    {%- endfor %}
    </ul>
{%- endif %} {# last_article if end #}
{%- if shinhonbang %}
    <div class="widget">
        <h3><a href="{{url_for('board_view', board_name="신혼방")}}">신혼방</a></h3>
        <ul>
        {%- for article in shinhonbang %}
            <li>{{ article.title }}</li>
        {%- endfor %}
        </ul>
    </div>
{%- endif %} {# shinhonbang if end #}
{%- if minecraft %}
    <div class="widget">
        <h3>마인크래프트</h3>
        <ul>
        {%- for article in minecraft %}
            <li>{{ article.title }}</li>
        {%- endfor %}
        </ul>
    </div>
{%- endif %} {# minecraft if end #}
{%- endblock body %}
