{% extends "layout.html" %}
{% block body %}
 {% from "_macros.html" import render_field_with_errors, render_field %}
{% include "_messages.html" %}
<h1>회원등록</h1>
<form action="{{ url_for('register') }}" method="POST" name="form">
    {{ render_field_with_errors(form.username) }}
    {{ render_field_with_errors(form.nickname) }}
    {{ render_field_with_errors(form.email) }}
    {{ render_field_with_errors(form.password) }}
    {{ render_field_with_errors(form.confirm) }}
    <p><input type="submit" value="등록"></p>
</form>
{% endblock body %}
