<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>{{ site_info.site_slogan }}</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='kube/css/kube.css') }}">
</head>
<body>
<div id="container">
    <div id="header">
        <a href="{{ site_info.site_root }}" class="none-decoration">
            <h1 id="site_title">{{ site_info.site_title }}</h1>
            <p id="site_desc">{{ site_info.site_desc }}</p>
        </a>
        <ul id="menu">
            {% for i in site_menu %}
                <li><a href="{{site_info.site_root}}{{i.menu_link}}">{{ i.menu_title }}</a></li>
            {% endfor %}
        </ul> <!-- ul menu end -->
    </div> <!-- div header end -->
    <div id="contents">
      {% for message in get_flashed_messages() %}
          <div class=flash>{{ message }}</div>
      {% endfor %}

      {% block body %}{% endblock %}
    </div> <!-- div contents end -->
    <div id="sidebar">
        <ul id="auth">
            {% if current_user.is_authenticated() %}
                <li id="nick_name"><a href="/profile/{{ current_user.user_name }}">{{ current_user.nick_name }} </a></li>
                <li id="logout"><a href="{{ url_for('logout') }}">log out</a></li>
                {% else %}
                <li id="login"><a href="{{ url_for('login') }}">login</a></li>
                <li id="signup"><a href="{{ url_for('register') }}">signup</a></li>
            {% endif %}
        </ul> <!-- ul auth end -->
    </div> <!-- div sidebar end -->
</div> <!-- div container end -->
