{% extends "layout.html" %}

{% block body %}
<div class="inner_header">
    <h1>signup</h1>
</div> <!-- div inner_header end -->
{% from "_formhelpers.html" import render_field %}
<form method=post action="/register/add" id="loginform">
  <dl>
    {{ render_field(form.user_name) }}
    {{ render_field(form.nick_name) }}
    {{ render_field(form.email) }}
    {{ render_field(form.password) }}
    {{ render_field(form.confirm) }}
  </dl>
  <p><input type=submit value=Register>
</form>

{% endblock body %}
