{% extends "layout.html" %}

{% block body %}
<h2>Signup</h2>
    <form action="" method=post>
        <label>username:
            <input type=text name=username aria-label="input username">
        </label>
        <label>password:
            <input type=password name=password>
        </label>
        <label>one more password:
            <input type=password name=password>
        </label>
        <label>Remember Me:
            <input type=checkbox name=remember value=yes>
        </label>
        <input type=submit value=Login>
    </form>
{% endblock %}
