{% extends "layout.html" %}

{% block body %}
{% from "_formhelpers.html" import render_field %}
<link rel="stylesheet" href="{{ url_for('static', filename='redactor/css/style.css') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='redactor/redactor/redactor.css') }}" />

{# 로그인/비로그인 판단 하여 글쓰기 폼을 다르게 출력 #}

{# 사용자가 비로그인일 경우, 닉네임, 암호 입력 폼을 출력 #}

{% if not current_user.is_authenticated() %}
<form method=post action="/board/{{ board_name }}/write">
{{ render_field(form.nick_name) }}
{{ render_field(form.password) }}
{{ render_field(form.title) }}
{% if temp_article %}
<textarea id="redactor">
{{ temp_article.text | safe}}
</textarea>
{% else %}
<textarea id="redactor">
</textarea>
{% endif %}

 <input type=submit value="write" class="btn">
</form>

{% else %}
{# 사용자가 로그인 유저일 경우 제목과 본문 입력창만 보인다 #}
{{ render_field(form.title) }}
{% if temp_article %}
<textarea id="redactor">
{{ temp_article.text | safe}}
</textarea>
{% else %}
<textarea id="redactor">
</textarea>
{% endif %}

 <input type=submit value="write" class="btn">
</form>
{% endif %}

<script type="text/javascript" src="{{ url_for('static', filename='redactor/lib/jquery-1.7.min.js') }}" ></script>
<script type="text/javascript" src="{{ url_for('static', filename='redactor/redactor/redactor.js') }}" ></script>
<script type="text/javascript" src="{{ url_for('static', filename='redactor/lang/ko.js') }}" ></script>

<script>
$(document).ready( function() {
                        
                var a = $('#redactor')
                a.redactor(
                        { imageUpload: '/board/upload',
                            autosave: '/temp_write',
                            interval: 30,
                            lang: 'ko'}
                )
        }
)
</script>
{% endblock %}

