#container {
    width: 1095px;
    margin-left: 5px;
    padding-top: 15px;
}

#header {
    width: 150px;
    float: left;
    text-align: center;
    margin-right: 15px;
}

#header h1 {
    font-size: 2em;
}

#header h3 {
    font-size: 0.8em;
}

ul#menu {
    margin-top: 15px;
    list-style: none;
}
ul#menu li {
    text-align: center;
    margin: 0px;
    float: left;
    width: 100px;
}

ul#auth {
    clear: both;
}

ul#auth li {
    display: block;
    margin-right: 15px;
    float: left;
}

#contents {
    width: 700px;
    float: left;
}

.inner_header {
    margin-bottom: 5px;
}

.inner_header h1 {
    font-size: 1.5em;
}

#loginform {
    margin-left: 35px;
}

#board_header {
}

#board_header h1 {
    font-size: 2em;
}

#article_list {
    font-size: 0.9em;
    border-collapse: collapse;
    width: 100%;
}

#article_list > thead {
    height: 30px;

}

#article_list > thead > tr {
    height: 30px;
    background-color: #E9E6DA;
}

#article_list > thead > tr > th {
    font-weight: bold;
}

#article_list > thead > tr > th > p {
    margin-top: 4px;
}

#article_list > thead > tr, #article_list > tbody > tr {
    border-bottom: 1px #ccc solid;
}

#article_list > tbody > tr.notice {
    background-color: #F6F5ED; 
}
#article_list > tbody > tr:hover {
    background-color: #eee;
}

#article_list > tbody > tr > td {
    height: 20px;
    vertical-align:middle;
}

th#number, td#number {
    width: 50px;
    text-align: center;
}

td#number {
    font-size: 0.9em;
    color: #444;
}

th#writer, td#writer {
    width: 100px;
    text-align: left;
    padding-left: 5px;
}

#article_list p {
    margin: 0px;
}

th#hits, td#hits {
    width: 50px;
}

#board_header {
}

#board_list, #article {
    margin-top: 45px;
}

#article_header {
}

#article_header h1 {
    font-size: 1.6em;
}

#article_header #nick_name {
    display : block;
    float: left;
}

#article_header #creat_date, #article_header #hits {
    display : block;
    float: right;
}

#article_contents {
    clear: both;
}

.pagination {
    margin-bottom: 15px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.pagination * {
    display: inline;
}

.pagination .prev {
    float: left;
    text-align: left;
    width: 100px;
}

.pagination .next {
    float: right;
    text-align: right;
    width: 100px;
}

.pagination p#page_number_list {
    width: 100px;
}

div#button_nav {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 15px;
}

div#button_nav span {
    margin-left: 5px;
    margin-right: 5px;
}

span.list {
    float: left;
}

span.write, span.edit {
    float: right;
}

#sidebar {
    width: 205px;
    padding-left: 15px;
    float: right;
}

a.none-decoration:hover {
    text-decoration: none;
    color: black;
}
