#container {
    width: 1095px;
    margin-left: 5px;
    padding-top: 15px;
}

#header {
    width: 150px;
    float: left;
}

#header h1 {
    font-size: 2em;
}

#header h3 {
    font-size: 0.8em;
}

ul#menu {
    margin-top: 15px;
}

ul#auth {
    clear: both;
}

ul#auth li {
    display: block;
    margin-right: 15px;
    float: left;
}

#contents {
    width: 700px;
    float: left;
}

.inner_header {
    margin-bottom: 5px;
}

.inner_header h1 {
    font-size: 1.5em;
}

#loginform {
    margin-left: 35px;
}

#article_list {
    font-size: 0.9em;
    border-collapse: collapse;
    width: 100%;
}

#article_list > thead {
    height: 30px;
    background: url('http://instiznet.jpg1.kr/images/bg_btn_big.png') no-repeat;

}

#article_list > thead > tr {
    height: 30px;
}

#article_list > thead > tr > th {
    font-weight: bold;
}

#article_list > thead > tr > th > p {
    margin-top: 4px;
    height: 15px;
}

#article_list > thead > tr, #article_list > tbody > tr {
    border-bottom: 1px #ccc solid;
}

#article_list > tbody > tr:hover {
    background-color: #eee;
}

#article_list > tbody > tr > td {
    height: 20px;
}

th#number, td#number {
    width: 50px;
    text-align: center;
}

td#number {
    font-size: 0.9em;
    color: #444;
}

th#writer, td#writer {
    width: 100px;
    text-align: left;
    padding-left: 5px;
}

th#title, td#title {
    padding-left: 5px;
}

th#hits, td#hits {
    width: 50px;
}

#sidebar {
    width: 220px;
    padding-left: 15px;
    float: right;
}

a.none-decoration:hover {
    text-decoration: none;
    color: black;
}
